@font-face {
  font-family: "Cotham Sans";
  src: url(../Fonts/CothamSans.ttf);
}

body {
  height: 100%;
}

.wrapper-main {
  width: 100%;
  min-height: 100%;
}

.header {
  height: 4.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 480px 1fr 25%;
      grid-template-columns: 480px 1fr 25%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "header-name none function";
  border-bottom: 1px solid #F3F3F3;
}

.header .header-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5rem;
  margin-left: 2.5rem;
  font-family: "Cotham Sans", sans-serif;
  color: #1D1D1D;
}

.header .header-name .title {
  font-size: 1.9rem;
  font-weight: normal;
}

.header .header-name .description {
  font-size: 0.9rem;
  margin-left: 1rem;
  font-weight: normal;
  color: #1D1D1D;
}

.header .function {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: function;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 4.5rem;
      grid-template-areas: "form-search additional-info both-language";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .function .form-search {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: form-search;
}

.header .function .form-search .search {
  border: none;
  margin-right: 3px;
  width: 82px;
  height: 26px;
  font-size: 1.2rem;
  outline: none;
  font-family: "Cotham Sans", sans-serif;
}

.header .function .form-search .search::-webkit-search-decoration, .header .function .form-search .search::-webkit-search-cancel-button, .header .function .form-search .search::-webkit-search-results-button, .header .function .form-search .search::-webkit-search-results-decoration {
  display: none;
}

.header .function .div-search-loupe {
  border: none;
  background-color: white;
}

.header .function .search-loupe {
  position: absolute;
  margin-top: -22px;
  margin-left: -41px;
}

.header .function .additional-info {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: additional-info;
  width: 100px;
  text-decoration: none;
  font-family: "Cotham Sans", sans-serif;
  font-size: 1.2rem;
  color: #1D1D1D;
}

.header .function .additional-info:hover {
  text-decoration: underline;
}

.header .function .additional-info .icon-circle {
  position: absolute;
  width: 19px;
  height: 19px;
  margin-top: 2px;
  margin-left: 3px;
}

.both-language {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: both-language;
  font-family: "Cotham Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.both-language .language-1 {
  margin: 0.45rem 0;
}

.both-language .language-1 .anchor-language-1 {
  font-size: 1.2rem;
  text-decoration: none;
  color: #C1C1C1;
}

.both-language .language-1 .anchor-language-1:hover {
  color: #1D1D1D;
}

.both-language .language-1 .anchor-language-1:hover {
  text-decoration: underline;
}

.both-language .language-1 .anchor-language-1:focus {
  color: #1D1D1D;
}

.both-language .language-2 {
  margin: 0.45rem 0;
}

.both-language .language-2 .anchor-language-2 {
  font-size: 1.2rem;
  text-decoration: none;
  color: #C1C1C1;
}

.both-language .language-2 .anchor-language-2:hover {
  color: #1D1D1D;
}

.both-language .language-2 .anchor-language-2:hover {
  text-decoration: underline;
}

.both-language .language-2 .anchor-language-2:focus {
  color: #1D1D1D;
}

.main {
  padding-bottom: 6.5rem;
}

.main .div-bookmarks {
  margin-top: 3rem;
  margin-left: 2.5rem;
}

.main .form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 64%;
  margin-left: 2.5%;
  font-family: "Cotham Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9rem;
  color: #CECECE;
}

.main .form-text .input-text-1 {
  height: 80px;
  margin-top: 2rem;
  background: #F2F2F2;
  border: none;
}

.main .form-text .input-text-2 {
  margin-top: 1rem;
  height: 80px;
  background: #F2F2F2;
  border: none;
}

.main .container-suggest-product {
  margin-top: 1.8rem;
}

.main .container-suggest-product .suggest-product {
  text-decoration: none;
  margin-left: 2.5%;
  font-family: "Cotham Sans", sans-serif;
  font-weight: normal;
  font-size: 1.9rem;
  color: #FD4300;
}

.main .container-suggest-product .suggest-product:hover {
  text-decoration: underline;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 305px 1fr 25%;
      grid-template-columns: 305px 1fr 25%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "header-name none function";
  height: 5rem;
  margin-top: -2rem;
  border-top: 1px solid #F3F3F3;
}

.footer .header-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-name;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2rem;
  font-family: "Cotham Sans", sans-serif;
  color: #1D1D1D;
}

.footer .header-name .title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.9rem;
  font-weight: normal;
}

.footer .header-name .description {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 0.9rem;
  margin-left: 1rem;
  font-weight: normal;
  color: #1D1D1D;
}

.footer .function {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: function;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "none additional-info both-language";
  justify-items: center;
}

.footer .function .additional-info {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: additional-info;
  width: 100px;
  margin-top: 23px;
  text-decoration: none;
  font-family: "Cotham Sans", sans-serif;
  font-size: 1.2rem;
  color: #1D1D1D;
}

.footer .function .additional-info .icon-circle {
  position: absolute;
  width: 19px;
  height: 19px;
  margin-top: 2px;
  margin-left: 3px;
}

@media screen and (max-width: 1500px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 305px 1fr 25%;
        grid-template-columns: 305px 1fr 25%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-name none function";
    height: 5rem;
    margin-top: 0;
    border-top: 1px solid #F3F3F3;
  }
}

@media screen and (max-width: 1263px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 480px 1fr 45%;
        grid-template-columns: 480px 1fr 45%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-name none function";
    height: 4.5rem;
    border-bottom: 1px solid #F3F3F3;
  }
  .header .header-name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header-name;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    font-family: "Cotham Sans", sans-serif;
    color: #1D1D1D;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 305px 1fr 45%;
        grid-template-columns: 305px 1fr 45%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-name none function";
    height: 5rem;
    margin-top: 0;
    border-top: 1px solid #F3F3F3;
  }
  .footer .header-name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header-name;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    font-family: "Cotham Sans", sans-serif;
    color: #1D1D1D;
  }
}

@media screen and (max-width: 925px) {
  .header {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 14% 41% 45%;
        grid-template-columns: 14% 41% 45%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-name none function";
    height: 4.5rem;
    border-bottom: 1px solid #F3F3F3;
  }
  .header .description {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 16% 1fr 45%;
        grid-template-columns: 16% 1fr 45%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-name none function";
    height: 4.5rem;
    border-bottom: 1px solid #F3F3F3;
  }
  .header .description {
    display: none;
  }
  .main .form-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
    margin-left: 2.5%;
    font-family: "Cotham Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.9rem;
    color: #CECECE;
  }
}

@media screen and (max-width: 682px) {
  .header {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 19% 1fr 65%;
        grid-template-columns: 19% 1fr 65%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-name none function";
    height: 4.5rem;
    border-bottom: 1px solid #F3F3F3;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 305px 1fr 45%;
        grid-template-columns: 305px 1fr 45%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-name none function";
    height: 5rem;
    margin-top: 0;
    border-top: 1px solid #F3F3F3;
  }
  .footer .function {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: function;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "additional-info both-language";
    justify-items: center;
  }
}

@media screen and (max-width: 572px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 110px 1fr 45%;
        grid-template-columns: 110px 1fr 45%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-name none function";
    height: 5rem;
    margin-top: 0;
    border-top: 1px solid #F3F3F3;
  }
  .footer .header-name .description {
    display: none;
  }
  .footer .function {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: function;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "additional-info both-language";
    justify-items: center;
  }
}

@media screen and (max-width: 471px) {
  .header {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 23% 77%;
        grid-template-columns: 23% 77%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-name function";
    height: 4.5rem;
    border-bottom: 1px solid #F3F3F3;
  }
  .header .header-name .title {
    font-size: 1.9rem;
    margin-left: 0;
    font-weight: normal;
  }
  .header .function {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: function;
    display: -ms-grid;
    display: grid;
        grid-template-columns: 45% 35% 20%;
        grid-template-rows: 1fr;
        grid-template-areas: "form-search additional-info both-language";
    justify-items: flex-end;
  }
  .header .function .both-language {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: both-language;
    justify-self: flex-end;
    margin-top: -10px;
    margin-right: 4%;
    font-family: "Cotham Sans", sans-serif;
  }
  .main .div-bookmarks {
    margin-left: 0;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 24% 77%;
        grid-template-columns: 24% 77%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-name function";
    height: 4.5rem;
    margin-top: 0;
    border-top: 1px solid #F3F3F3;
  }
  .footer .function {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: function;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 35% 20%;
        grid-template-columns: 45% 35% 20%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "none additional-info both-language";
    justify-items: center;
  }
  .footer .function .both-language {
    justify-self: flex-end;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: both-language;
    margin-top: -10px;
    margin-right: 4%;
    font-family: "Cotham Sans", sans-serif;
  }
}

@media screen and (max-width: 426px) {
  .footer {
    display: none;
  }
}

@media screen and (max-width: 321px) {
  .header {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 23% 77%;
        grid-template-columns: 23% 77%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-name function";
    height: 4.5rem;
    border-bottom: 1px solid #F3F3F3;
  }
  .header .header-name .title {
    font-size: 1.7rem;
    margin-left: 0;
    font-weight: normal;
  }
}
/*# sourceMappingURL=5555.css.map */